body {
  background:url(/images/containerbg.gif);
}

#wrap {
	background: white;
}

#mainsheet{
    width: 990px;
}

ul{
	list-style: none;
}

ul li{
	float: left;
}
a{
	
}


/* header part */

#headermain{
  color: #FFFFFF;
    font-size: 11px;
    padding: 5px 0 5px 450px;
  }

#headermain p{
  float:left;
 margin-right: 80px;
}

#headermain a{
   color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    text-decoration: underline;

}
#header1 {
	height:100px;
  clear:both;
}
#header2{
	
}

#header2 ul{
	clear: both;
    margin: 0;
    padding: 0;
    background:url(/images/nav-bg.gif);
     height: 26px;
     width: 100%;
     border-bottom: 1px solid #5B8FC1;
}

#header2 ul li{
	 padding: 5px 10px 0;
}

#header2 ul li a {
	 color: #404040;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-right:1px solid white;
    padding-right: 15px;
}

#header2 lastchild:a {
	border-right:none;
}

/* main */

#mainsheet{
	clear: both;
    margin: 0;
    height:1500px;
}

/* main left */

#leftmain{
    width:650px;
    margin-left: 15px;
    
}
#car{
    height:250px;
}
#car h1{
   font-size: 28px;
    margin: 15px 0 10px;
    color: #5B5B5B !important;
    font-family: Arial,Tahoma,Verdana;
    padding: 0;
}

#car p{
    color: #445566;
    font-size: 13px;
    font-family:Verdana,Arial,sans-serif;
}

#car a,a:link, a:visited{
    color: #034FB6;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    font:13px Verdana,Arial,sans-serif;
}

#car a:hover{
    color:#2F2F2F;
    text-decoration: underline;
}
.car{
    width:230px;
    height:165px;
    border: 1px solid grey;
    float:left;
     margin-right: 10px;

}

/* left main middle */
#specifications{
  background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #CCDBF8;
    clear: both;
    display: block;
    margin: 0;
    padding: 10px;
}

#centernav{
   clear:both;
  height: 30px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#centernav li{
    background:#ccdbf8;
    color:black;
      float: left;
    font-size: 12px;
    list-style: none outside none;
    margin: 0 0.3em 0 0;
}

.middle h2{
  color: #5B5B5B !important;
  font-family:Arial,Tahoma,Verdana;
    border-bottom: 2px solid #DFDFDF;
    font-size: 18px;
    margin: 15px 0 5px;
    padding-bottom: 5px;
}

.middle p{
  margin: 10px 0;
    padding: 0;
    color: #445566;
    font:13px Verdana,Arial,sans-serif;
}
.small{
  color: #999999;
    font-size: 11px;
}

.middle a{
  color: #034FB6;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    font:13px Verdana,Arial,sans-serif;
}

#news{
  border: 1px solid #DFDFDF;
    margin-top: 20px;
    padding: 0 10px 10px;
  }

#news h2{
  font-size: 18px;
    margin: 10px 0 7px;
    color: #5B5B5B !important;
    font-family:Arial,Tahoma,Verdana;
}
#news p{
  padding: 3px 0;
  margin-left: 5px;
    margin-top: 0;
    padding-left: 8px;
    padding-top: 3px;
    color: #445566;
    font-size: 12px;
    list-style: none outside none;
}

#news a{
   color: #034FB6;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
     margin-left: 5px;
    padding-left: 10px;
}

.right{
  float:right;
  clear:both;
}

/* right main section */
#rightmain{
  float:right;
}