<h2> Hyundai i10 in News  </h2>
<span class="small"> Latest industry news from CarWale blog. </span>
<br />
<p><a href="#"> Hyundai launches the i10 LPG </a> <br />
Hyundai Motor India Ltd. launched the LPG version of the i10. The LPG variant is priced Rs 27,630 more than the existing petrol model. The new LPG version of [...] - 22 Nov 2011</p>

<p><a href="#"> Rs 30,000 off on i10 at Hyundai Motor Plaza, Mumbai</a> <br /> 
If you are based in Mumbai and are looking to buy a top-of-the-line Hyundai i10, then probably you should visit Hyundai Motor Plaza at Lower Parel. - 21 Aug 2011</p>

<p><a href="#"> Hyundai's 5.99% interest rate scheme to end soon</a> <br /> 
Most of us have seen the Hyundai commercial of 5.99% interest rate on the Hyundai i10. All those who think, the offer is to last for a longer period have got it wrong. - 29 Jul 2011</p>

<p><a href="#"> Hyundai continues with its growth in June 2011 </a> <br />
Hyundai Motor India Ltd continued to grow with cumulative sales growing by 13.6% for the month of June, 2011.HMIL’s total sales for June, 2011 stood at [...] - 01 Jul 2011</p>

<p><a href="#"> Hyundai cuts down on exports, increases sales in Domestic market</a> <br />
Hyundai Motor India Ltd continued to grow at 5.3 % in the month of February, 2011. HMIL’s total sales for February, 2011 stood at 52,007 units as against [...] - 02 Mar 2011</p>

<a href="#" class="right">more car news</a>