<div class="middle">
<h2> i10 Sportz 1.2 Kappa2 Price</h2>
<p> Avg Ex-Showroom Price : Rs.4,55,354 <span class="small">(insurance, road tax and other taxes/charges extra)</span> </p>
<a href "#"> >Check on-road price in your city</a>
<p>Buying used? <a href ="#"> >Check used car prices</a> </p>
</div>

<div class="middle">
<h2> i10 Sportz 1.2 Kappa2 Technical Specifications</h2>
<p> 1197cc, 4-cylinder, 4-valves, DOHC, Petrol engine </p>
<p> Power: 80PS@6000rpm, 111Nm@4000rpm </p>
<p> Fuel Economy: 15.3kpl (overall) </p>
<p>Transmission: 5-speed Manual...  <a href ="#"> >technical specifications</a> </p>

</div>

<div class="middle">
<h2> i10 Sportz 1.2 Kappa2 Features</h2>
<p>Air Conditioner, Power Steering, Power Windows...  <a href ="#"> >standard features</a> </p>
</div>

<div class="middle">
<h2> i10 Sportz 1.2 Kappa2 Reviews, Ratings & Awards</h2>
<p>82 Hyundai i10 Sportz 1.2 Kappa2 user reviews , 3 awards...  <a href ="#"> >reviews, ratings & awards </a> </p>
</div>

<div class="middle">
<h2> i10 Sportz 1.2 Kappa2 Colours</h2>
<p>Hyundai i10 Sportz 1.2 Kappa2 is offered in 8 exciting colour...  <a href ="#"> >view colours</a> </p>
</div>