<h2> Quick Research </h2>

<ul>
<li>
<select class="selectcar">
<option value="0">--Select Makes--</option>
<option value="49">Aston Martin</option>
<option value="18">Audi</option>
<option value="22">Bentley</option>
<option value="1">BMW</option>
<option value="47">Bugatti</option>
<option value="2">Chevrolet</option>
<option value="33">Ferrari</option>
<option value="4">Fiat</option>
<option value="50">Force Motors</option>
<option value="5">Ford</option>
<option value="6">Hindustan Motors</option>
<option value="7">Honda</option>
<option value="8" selected="selected">Hyundai</option>
<option value="38">ICML</option>
<option value="44">Jaguar</option>
<option value="30">Lamborghini</option>
<option value="23">Land Rover</option>
<option value="9">Mahindra</option>
<option value="24">Maini</option>
<option value="10">Maruti Suzuki</option>
<option value="36">Maserati</option>
<option value="31">Maybach</option>
<option value="11">Mercedes-Benz</option>
<option value="12">Mitsubishi</option>
<option value="21">Nissan</option>
<option value="19">Porsche</option>
<option value="14">Premier</option>
<option value="45">Renault</option>
<option value="25">Rolls-Royce</option>
<option value="26">San</option>
<option value="15">Skoda</option>
<option value="16">Tata</option>
<option value="17">Toyota</option>
<option value="20">Volkswagen</option>
<option value="37">Volvo</option>
</select>
</li>
<li>
<select class="selectcar">
<option value="">--Select Model--</option>
<option value="21">Accent</option>
<option value="22">Elantra</option>
<option value="366">Eon</option>
<option value="23">Getz</option>
<option value="161">Getz Prime</option>
<option value="196" selected="selected">i10</option>
<option value="220">i20</option>
<option value="286">Santa Fe</option>
<option value="24">Santro</option>
<option value="73">Santro Xing</option>
<option value="25">Sonata</option>
<option value="74">Sonata Embera</option>
<option value="223">Sonata Transform</option>
<option value="26">Terracan</option>
<option value="27">Tucson</option>
<option value="146">Verna</option>
</select>
</li>

<li>
<select class="selectcar">
<option value="">--Select Version--</option>
<option value="1376">Asta 1.2</option>
<option value="1953">Asta 1.2 AT Kappa2 with Sunroof</option>
<option value="1380">Asta 1.2 AT with Sunroof</option>
<option value="1952">Asta 1.2 Kappa2</option>
<option value="1379">Asta 1.2 with Sunroof</option>
<option value="1287">D-Lite</option>
<option value="1957">D-Lite 1.1 iRDE2</option>
<option value="1288">Era</option>
<option value="1958">Era 1.1 iRDE2</option>
<option value="2329">Era 1.1 LPG</option>
<option value="1289">Magna</option>
<option value="1290">Magna (O)</option>
<option value="1291">Magna (O) with Sunroof</option>
<option value="1959">Magna 1.1 iRDE2</option>
<option value="2330">Magna 1.1 LPG</option>
<option value="1377">Magna 1.2</option>
<option value="1381">Magna 1.2 AT</option>
<option value="1956">Magna 1.2 Kappa2</option>
<option value="1378">Sportz 1.2</option>
<option value="1382">Sportz 1.2 AT</option>
<option value="1955">Sportz 1.2 AT Kappa2</option>
<option value="1954">Sportz 1.2 Kappa2</option>
<option value="1960">Sportz 1.2 Kappa2 (O)</option>
</select>
</li>

<li>
<input type="submit" value="Go" class="submitcar"/>
</li>

</ul>
