
	<h2> Other Hyundai i10 Versions </h2>
	<ul>
	<li> <a href="#">  i10 D-Lite 1.1 iRDE2 </a> </li>
	<li> <a href="#">  i10 Era 1.1 iRDE2 </a> </li>
	<li> <a href="#">  i10 Magna 1.1 iRDE2 </a> </li>
	<li> <a href="#">  i10 Era 1.1 LPG </a> </li>
	<li> <a href="#">  i10 Magna 1.2 Kappa2 </a> </li>
	<li> <a href="#">  i10 Magna 1.1 LPG </a> </li>
	<li> <a href="#"> i10 Sportz 1.2 Kappa2 (O) </a> </li>
	<li> <a href="#">  i10 Sportz 1.2 AT Kappa2 </a> </li>
	<li> <a href="#">  i10 Asta 1.2 Kappa2 </a> </li>
	<li> <a href="#">  i10 Asta 1.2 AT Kappa2 with Sunroof </a> </li>
	<li> <a href="#">  i10 D-Lite </a> [Discontinued]</li>
	<li> <a href="#">  i10 Era </a>[Discontinued] </li>
	<li> <a href="#">  i10 Magna </a> [Discontinued]</li>
	<li> <a href="#">  i10 Magna 1.2 </a> [Discontinued]</li>
	<li> <a href="#">  i10 Sportz 1.2 </a> [Discontinued]</li>
	<li> <a href="#">  i10 Magna 1.2 ATs </a>[Discontinued] </li>
	<li> <a href="#">  i10 Sportz 1.2 AT </a> [Discontinued]</li>
	<li> <a href="#">  i10 Asta 1.2 with Sunroof </a> [Discontinued]</li>
	<li> <a href="#"> i10 Asta 1.2 </a> [Discontinued]</li>
	<li> <a href="#"> i10 Asta 1.2 AT with Sunroof </a> [Discontinued]</li>
	</ul> 
