<header>
<div id="headermain">
<p>
Welcome,Guest 
<%= link_to "login", '#' %> | <%= link_to "Register", '#' %> </p>
<input id="name" name="search" type="text" />
<input name="commit" type="submit" value="Search" />
</div> 
 </header>